In [1]:
#this notebook is use to clean the collected data

In [2]:
import pandas as pd
import re

# Quinto Andar - clean rent apartament raw-data

## load

In [3]:
df_qa_apartment_raw = pd.read_csv('../data/raw-data/df_qa_apartment_raw.csv')

In [4]:
df_qa_apartment_raw.head(2)

,codigo,endereco,tipo_imovel,logradouro,bairro,cidade,metragem,quartos,banheiros,vaga,andar,mobilia,aluguel,condominio,iptu,preco_total
0,893085878,"['street:""Rua Jaguarete""', 'lng:-46.6565652', ...","Apartamento para alugar com 2 quartos, 56m²",Rua Jaguarete,Casa Verde,São Paulo,56 m²,2 quartos,2 banheiros,1 vaga,9º andar,Sem mobília,R$ 2.080,R$ 579,R$ 125,R$ 2.811
1,893085840,"['street:""Rua Jaguarete""', 'lng:-46.6565652', ...","Apartamento para alugar com 2 quartos, 54m²",Rua Jaguarete,Casa Verde,São Paulo,54 m²,2 quartos,2 banheiros,1 vaga,11º andar,Sem mobília,R$ 2.170,R$ 578,R$ 1.250,R$ 4.026

In [5]:
def split_elements(row):
    row = re.sub('\'|\[|\]|"','',row).split(',')
    return row

In [6]:
df_qa_apartment_raw['endereco'] = df_qa_apartment_raw['endereco'].apply(split_elements)

In [7]:
addresses = df_qa_apartment_raw.endereco.apply(lambda x : pd.Series(x))

In [8]:
addresses

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,street:Rua Jaguarete,lng:-46.6565652,number:202,city:São Paulo,zipCode:02515-010,neighborhood:Casa Verde,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.510311,NaN,NaN,NaN,NaN
1,street:Rua Jaguarete,lng:-46.6565652,number:202,city:São Paulo,zipCode:02515-010,neighborhood:Casa Verde,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.510311,NaN,NaN,NaN,NaN
2,street:Rua Jaguarete,lng:-46.6565652,number:202,city:São Paulo,zipCode:02515-010,neighborhood:Casa Verde,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.510311,NaN,NaN,NaN,NaN
3,street:Rua Jaguarete,lng:-46.6565652,number:202,city:São Paulo,zipCode:02515-010,neighborhood:Casa Verde,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.510311,NaN,NaN,NaN,NaN
4,street:Rua Jaguarete,lng:-46.6565652,number:202,city:São Paulo,zipCode:02515-010,neighborhood:Casa Verde,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.510311,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,street:Rua Augusto de Macedo Costa,lng:-46.696173,number:25,city:São Paulo,zipCode:02802-060,neighborhood:Vila Primavera,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.4882471,NaN,NaN,NaN,NaN
666,street:Rua Augusto de Macedo Costa,lng:-46.6961397,number:29,city:São Paulo,zipCode:02802-060,neighborhood:Vila Primavera,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.4882193,NaN,NaN,NaN,NaN
667,street:Rua Tabatinguera,lng:-46.629622,number:340,city:São Paulo,zipCode:03216-050,neighborhood:Liberdade,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.5526566,NaN,NaN,NaN,NaN
668,street:Viaduto Dona Paulina,lng:-46.6357049,number:34,city:São Paulo,zipCode:01501-020,neighborhood:Centro,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.5518313,NaN,NaN,NaN,NaN
669,street:Avenida Silvio Siumbata,lng:-46.705714,number:565,city:São Paulo,zipCode:04789-010,neighborhood:Interlagos,stateAcronym:SP,country:Brazil,stateName:São Paulo,lat:-23.7068827,NaN,NaN,NaN,NaN

## functions

In [9]:
def find_numero(row):
    numero = re.findall('\d+',row)
    return numero

In [10]:
def find_cep(row):
    return re.findall('\d+-\d+', row)

In [11]:
def find_lat_long(row):
    if type(row) == str:
        return re.findall('\d+.\d+',row)
    else:
        pass

In [12]:
def acessa_lista(row):
    if type(row) == list:
        for x in row:
            return x
    else:
        return row

In [13]:
def clean_metragem_quartos(row):
    numero = re.findall('\d+', row)
    return numero

In [14]:
def clean_precos(row):
    if type(row) == str:
        row = row.replace('.','')
        row = row.replace(',','')
        valor = re.findall('\d+', row)
        return valor
    else:
        return row

In [15]:
def acessa_lista_int(row):
    if type(row) == list:
        for x in row:
            return int(x)
    else:
        return row

In [16]:
def negative_numbers(row):
    if type(row) == str:
        row = float(row)*-1
        return row
    else:
        return row

In [17]:
lista_tipologias = ['apartamento', 'studio e kitnet','casa']

def tipologia(row, lista_tipologias=lista_tipologias):
    for tipo in lista_tipologias:
        if re.findall(tipo, row, flags=re.IGNORECASE):
            return tipo
        
    return 'outro'

## cleaning data

In [18]:
addresses['longitude'] = addresses.iloc[:,[1]]
addresses['latitude'] = addresses.iloc[:,[9]]

In [19]:
addresses['numero'] = addresses.iloc[:,[2]]
addresses['cep'] = addresses.iloc[:,[4]]
addresses = addresses[['numero','cep','longitude','latitude']]

In [20]:
addresses['numero'] = addresses['numero'].apply(find_numero)
addresses['cep'] = addresses['cep'].apply(find_cep)
addresses['longitude'] = addresses['longitude'].apply(find_lat_long)
addresses['latitude'] = addresses['latitude'].apply(find_lat_long)

<ipython-input-20-3ff2aa035701>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses['numero'] = addresses['numero'].apply(find_numero)
<ipython-input-20-3ff2aa035701>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses['cep'] = addresses['cep'].apply(find_cep)
<ipython-input-20-3ff2aa035701>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses['longitude'] = addresses['longitude'].apply(find_lat_long)
<ipython-input-20-3ff2aa035701>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses['latitude'] = addresses['latitude'].apply(find_lat_long)

In [21]:
addresses['numero'] = addresses['numero'].apply(acessa_lista)
addresses['cep'] = addresses['cep'].apply(acessa_lista)
addresses['longitude'] = addresses['longitude'].apply(acessa_lista)
addresses['latitude'] = addresses['latitude'].apply(acessa_lista)

<ipython-input-21-227cdb5a84b0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses['numero'] = addresses['numero'].apply(acessa_lista)
<ipython-input-21-227cdb5a84b0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses['cep'] = addresses['cep'].apply(acessa_lista)
<ipython-input-21-227cdb5a84b0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses['longitude'] = addresses['longitude'].apply(acessa_lista)
<ipython-input-21-227cdb5a84b0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses['latitude'] = addresses['latitude'].apply(acessa_lista)

In [22]:
df_qa_apartment = pd.concat([df_qa_apartment_raw, addresses], axis=1)
df_qa_apartment = df_qa_apartment.drop(columns='endereco')

In [23]:
df_qa_apartment.head()

,codigo,tipo_imovel,logradouro,bairro,cidade,metragem,quartos,banheiros,vaga,andar,mobilia,aluguel,condominio,iptu,preco_total,numero,cep,longitude,latitude
0,893085878,"Apartamento para alugar com 2 quartos, 56m²",Rua Jaguarete,Casa Verde,São Paulo,56 m²,2 quartos,2 banheiros,1 vaga,9º andar,Sem mobília,R$ 2.080,R$ 579,R$ 125,R$ 2.811,202,02515-010,46.6565652,23.510311
1,893085840,"Apartamento para alugar com 2 quartos, 54m²",Rua Jaguarete,Casa Verde,São Paulo,54 m²,2 quartos,2 banheiros,1 vaga,11º andar,Sem mobília,R$ 2.170,R$ 578,R$ 1.250,R$ 4.026,202,02515-010,46.6565652,23.510311
2,893085845,"Apartamento para alugar com 2 quartos, 49m²",Rua Jaguarete,Casa Verde,São Paulo,49 m²,2 quartos,2 banheiros,1 vaga,8º andar,Sem mobília,R$ 2.320,R$ 517,R$ 125,R$ 2.992,202,02515-010,46.6565652,23.510311
3,893085857,"Apartamento para alugar com 2 quartos, 56m²",Rua Jaguarete,Casa Verde,São Paulo,56 m²,2 quartos,2 banheiros,1 vaga,10º andar,Sem mobília,R$ 2.170,R$ 579,R$ 125,R$ 2.902,202,02515-010,46.6565652,23.510311
4,893085850,"Apartamento para alugar com 2 quartos, 54m²",Rua Jaguarete,Casa Verde,São Paulo,54 m²,2 quartos,2 banheiros,1 vaga,4º andar,Sem mobília,R$ 2.170,R$ 570,R$ 125,R$ 2.893,202,02515-010,46.6565652,23.510311

In [24]:
df_qa_apartment['tipo_imovel'] = df_qa_apartment['tipo_imovel'].apply(tipologia)

In [25]:
df_qa_apartment['metragem'] = df_qa_apartment['metragem'].apply(clean_metragem_quartos)
df_qa_apartment['quartos'] = df_qa_apartment['quartos'].apply(clean_metragem_quartos)
df_qa_apartment['banheiros'] = df_qa_apartment['banheiros'].apply(clean_metragem_quartos)

In [26]:
df_qa_apartment['vaga'] = df_qa_apartment['vaga'].apply(clean_metragem_quartos)
df_qa_apartment['andar'] = df_qa_apartment['andar'].apply(clean_metragem_quartos)
df_qa_apartment['aluguel'] = df_qa_apartment['aluguel'].apply(clean_precos)
df_qa_apartment['condominio'] = df_qa_apartment['condominio'].apply(clean_precos)
df_qa_apartment['iptu'] = df_qa_apartment['iptu'].apply(clean_precos)
df_qa_apartment['preco_total'] = df_qa_apartment['preco_total'].apply(clean_precos)

In [27]:
df_qa_apartment['longitude'] = df_qa_apartment['longitude'].apply(negative_numbers)
df_qa_apartment['latitude'] = df_qa_apartment['latitude'].apply(negative_numbers)

In [28]:
df_qa_apartment['aluguel'] = df_qa_apartment['aluguel'].apply(acessa_lista)
df_qa_apartment['condominio'] = df_qa_apartment['condominio'].apply(acessa_lista)
df_qa_apartment['iptu'] = df_qa_apartment['iptu'].apply(acessa_lista)
df_qa_apartment['preco_total'] = df_qa_apartment['preco_total'].apply(acessa_lista)
df_qa_apartment['metragem'] = df_qa_apartment['metragem'].apply(acessa_lista)
df_qa_apartment['quartos'] = df_qa_apartment['quartos'].apply(acessa_lista)
df_qa_apartment['banheiros'] = df_qa_apartment['banheiros'].apply(acessa_lista)
df_qa_apartment['vaga'] = df_qa_apartment['vaga'].apply(acessa_lista)
df_qa_apartment['andar'] = df_qa_apartment['andar'].apply(acessa_lista)

In [29]:
df_qa_apartment.head()

,codigo,tipo_imovel,logradouro,bairro,cidade,metragem,quartos,banheiros,vaga,andar,mobilia,aluguel,condominio,iptu,preco_total,numero,cep,longitude,latitude
0,893085878,apartamento,Rua Jaguarete,Casa Verde,São Paulo,56,2,2,1,9,Sem mobília,2080,579,125,2811,202,02515-010,-46.656565,-23.510311
1,893085840,apartamento,Rua Jaguarete,Casa Verde,São Paulo,54,2,2,1,11,Sem mobília,2170,578,1250,4026,202,02515-010,-46.656565,-23.510311
2,893085845,apartamento,Rua Jaguarete,Casa Verde,São Paulo,49,2,2,1,8,Sem mobília,2320,517,125,2992,202,02515-010,-46.656565,-23.510311
3,893085857,apartamento,Rua Jaguarete,Casa Verde,São Paulo,56,2,2,1,10,Sem mobília,2170,579,125,2902,202,02515-010,-46.656565,-23.510311
4,893085850,apartamento,Rua Jaguarete,Casa Verde,São Paulo,54,2,2,1,4,Sem mobília,2170,570,125,2893,202,02515-010,-46.656565,-23.510311

## latitude and longitude to utm

In [ ]:
dict_utm = {}

for row in range(df_quinto_andar.shape[0]):

    lat = df_quinto_andar['latitude'][row]
    long = df_quinto_andar['longitude'][row]
    try:
        y, x, z, k = utm.from_latlon(lat, long)
        dict_row_utm = {}
        dict_row_utm = {'latitude_utm': round(x,2) , 'longitude_utm' : round(y,2)}
        dict_utm[row] = dict_row_utm
    except:
        dict_utm[row] = dict_row_utm
        dict_row_utm = {'latitude_utm': 0 , 'longitude_utm' : 0}

In [ ]:
df_quinto_andar_utm = pd.DataFrame.from_dict(dict_utm, orient='index')
df_qa_clean =pd.concat([df_quinto_andar, df_quinto_andar_utm], axis=1)

## save

In [30]:
df_qa_clean.to_csv('../data/clean-data/df_qa_clean.csv', index = False)

# Loft - apartment for sale

## load

In [ ]:
df_loft_resumo = df_loft_resumo.reset_index(drop=True)

## latitude and longitude to utm

In [ ]:
dict_utm = {}

for row in range(df_loft_resumo.shape[0]):

    lat = df_loft_resumo['latitude'][row]
    long = df_loft_resumo['longitude'][row]
    try:
        y, x, z, k = utm.from_latlon(lat, long)
        dict_row_utm = {}
        dict_row_utm = {'latitude_utm': round(x,2) , 'longitude_utm' : round(y,2)}
        dict_utm[row] = dict_row_utm
    except:
        dict_utm[row] = dict_row_utm
        dict_row_utm = {'latitude_utm': 0 , 'longitude_utm' : 0}

In [ ]:
df_loft_resumo_utm = pd.DataFrame.from_dict(dict_utm, orient='index')
df_loft_resumo =pd.concat([df_loft_resumo, df_loft_resumo_utm], axis=1)

In [ ]:
mask = (df_loft_resumo['latitude_utm'] > 0 ) & (df_loft_resumo['longitude_utm'] > 0 )
df_loft_resumo = df_loft_resumo.loc[mask,:]

## save

In [ ]:
df_loft_clean.to_csv('../data/clean-data/clean-data/df_loft_clean.csv', index = False)

# Google - places

## load

In [ ]:
df_google_raw = pd.read_csv('../data/raw-data/df_google_raw.csv')

## functions

In [ ]:
def retorna_tipo_lugar(row):
    if ('bakery' in row) or ('bar' in row) or ('cafe' in row) or ('restaurant' in row):
        return 'lugares_alimentacao'
    
    elif ('bank' in row) or ('beauty_salon' in row) or ('dentist' in row) or ('gym' in row) or ('laundry' in row) or ('lawyer' in row):
        return 'lugares_servicos'
    
    elif ('shopping_mall' in row) or ('supermarket' in row) or ('drugstore' in row) or ('florist' in row) or ('gas_station' in row) or ('parking' in row) or ('pharmacy' in row):
        return 'lugares_comercio'
    
    elif ('subway_station' in row) or ('train_station' in row):
        return 'lugares_metro_trem'
    
    elif ('doctor' in row) or ('hospital' in row):
        return 'lugares_saude'
    
    elif ('library' in row) or ('primary_school' in row) or ('school' in row) or ('secondary_school' in row) or ('university' in row):
        return 'lugares_educacao'
    
    elif ('museum' in row):
        return 'lugares_cultura'
    
    elif ('church' in row) or ('cemetery' in row) or ('synagogue' in row):
        return 'lugares_religiosos'
    
    elif ('park' in row):
        return 'lugares_parques'
    
    elif ('fire_station' in row) or ('police' in row) or ('post_office' in row):
        return 'lugares_governamentais'
    
    elif ('stadium' in row):
        return 'lugares_estadios'
    
    elif ('bus_station' in row):
        return 'lugares_transporte'
    
    elif ('tourist_attraction' in row):
        return 'lugares_turismo'
    
    else:
        return 'outros'

## cleaning

In [ ]:
df_google = df_google.drop_duplicates()

In [ ]:
localizacao = df_google.geometry.apply(lambda x : pd.Series(eval(x)))
localizacao = localizacao['location'].apply(lambda x : pd.Series(x))
df_google_final = pd.concat([df_google, localizacao], axis=1)

In [ ]:
df_google_final.columns

In [ ]:
df_google_final = df_google_final.drop(columns=['business_status','geometry','icon','opening_hours','photos','reference','permanently_closed','place_id','plus_code'])

In [ ]:
df_google_final['lugares']  = df_google_final['types'].apply(retorna_tipo_lugar)

In [ ]:
df_google_final = df_google_final.reset_index(drop=True)

In [ ]:
df_google_final['lugares'].unique()

## latitude and longitude to utm

In [ ]:
dict_utm = {}

for row in range(df_google_final.shape[0]):

    lat = df_google_final['lat'][row]
    long = df_google_final['lng'][row]

    y, x, z, k = utm.from_latlon(lat, long)
    dict_row_utm = {}
    dict_row_utm = {'latitude_utm': round(x,2) , 'longitude_utm' : round(y,2)}
    dict_utm[row] = dict_row_utm

In [ ]:
df_google_utm = pd.DataFrame.from_dict(dict_utm, orient='index')
df_google_final =pd.concat([df_google_final, df_google_utm], axis=1)

## save

In [ ]:
df_google_clean.to_csv('../data/clean-data/df_google_clean.csv', index=False)